.searchInputContainer {
  display: flex;
  align-items: center;

  background: #f6f6f6;
  color: #666360;
  border-radius: 8px;
  border: 2px solid #ccc;
  width: 100%;
}

.searchInputContainer input {
  background: transparent;
  flex: 1;
  border: 0;
  font-size: 18px;
  padding: 12px 16px;
  outline: none;
  color: #424242;
}

.searchInputContainer input::placeholder {
  color: #666360;
}

.icon {
  margin-right: 16px;
}
