.container {
  min-height: 100vh;
  position: relative;
}

.content {
  margin: 0 auto;
  z-index: 10;
  padding: 40px 8px;
  max-width: 960px;
}

.title {
  font-size: 30px;
  text-align: center;
}

.searchContainer {
  width: 80%;
  margin: 18px auto 0;
}

.resultsContainer {
  margin: 64px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 64px;
  column-gap: 12px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 100%;
  }
}
